html, body
{
   overflow: hidden;
   position: fixed;
   touch-action: none;
   padding: 0;
   margin: 0;
   height: 100%;
   width: 100%;
   font-size:3vh;
   text-align: center;
   background-image: url("./BGPattern.svg");
   background-size: cover; /* or contain */
   background-repeat: no-repeat;
   background-position: center;
   background-color: lightgray; /* Just for testing */
}

p
{
    margin: 10vh 2vh;
}

.toptext
{
  margin: 3.5vh 2vh ;
}

button
{
  font-size: 4vh;
  text-align: center;
  max-width:80%;
}

input 
{
  width: 80%;
  font-size: 2vh;
  text-align: center;
  outline-style: solid;
}

#OkButton
{
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
}

#error
{
  color: red;
}

#map
{
  overflow: hidden;
  position: absolute;
  top: 10%;
  padding: 0;
  margin: 0;
  height: 80%;
  width: 100%;
} 

#WhereUserIs
{
  position: absolute;
  height: 5vh;
  width: 5vh;
  top: 100% ;   /* Move down 50px */
  left: 100%; /* Move right 100px */
  background-color: red;
  transform: translate(-50%, -50%);
  border-radius: 50%;
} 

.selectedgenreButton
{
  color: yellow;
}